---
import { getImage } from "@astrojs/image";
import { parseISO, format } from "date-fns";
import Layout from "../partials/layout.astro";
import SVG from "../parts/svg.astro";
import Video from "../parts/video.astro";
import slugify from "../utils/slugify";

const content = {
	...Astro.props.content,
};

const { title, date, categories, video } = content;

content.title = `${title} | Amy's Blog`;

const { src: facebook } = await getImage({
	src: `/img/${content?.featured?.src}`,
	width: 1200,
	height: 630,
});

const { src: twitter } = await getImage({
	src: `/img/${content?.featured?.src}`,
	width: 1200,
	height: 675,
});

const { src: linkedin } = await getImage({
	src: `/img/${content?.featured?.src}`,
	width: 1200,
	height: 627,
});

content.imageOg = facebook;
content.imageLinkedin = linkedin;
content.imageTwitter = twitter;
---

<Layout content={content}>
	<article class="content">
		<header>
			<h1>{title}</h1>
			<time datetime={format(parseISO(date), "yyyy-mm-dd")}>
				{format(parseISO(date), "dd MMM yyyy")}
			</time>
			{
				categories && (
					<ul class="tags">
						{categories.map((tag) => (
							<li>
								<a href={`/tags/${slugify(tag)}/1`}>
									#{slugify(tag)}
								</a>
							</li>
						))}
					</ul>
				)
			}
			<div class="underline">
				<SVG name="illustrations/underline.svg" />
			</div>
		</header>
		<slot />
		{video && <Video video={video} title={title} />}
	</article>
</Layout>
